main.about > div {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

div.about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main.about h2 {
    max-width: 40%;
}

main.about p {
    max-width: 50%;
    color: #737373;
    text-align: justify;
}

ul.features-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul.features-list strong {
    display: block;
}

ul.features-list li {
    color: #737373;
    width: 50%;
    text-align: justify;
    
}

.text-gradient {
    text-transform: uppercase;
    font-family: "Orbitron";
    background: linear-gradient(to right, #9333ea, #db2777, #f59e0b, #db2777, #9333ea, #db2777, #f59e0b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 8s ease-in-out infinite;
    background-size: 300% 300%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 1023px) {
    main.about p {
        max-width: 100%;
    }

    main.about h2 {
        max-width: 100%;
    }

    ul.features-list li {
        width: 100%;
        
    }
}