* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Proza Libre", sans-serif;
    color: var(--secoundary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary: #09090b;
    --secoundary: #fafafa;
    --tertiary: #5271ff;
}
