:root {
    --primary: #09090b;
    --secoundary: #fafafa;
    --tertiary: #5271ff;
}

body#mais {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body#mais section {
    border-radius: 8px;
}

section {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


section.gradient h2 {
    font-family: "Orbitron";
    font-size: 3.5rem;
}

main.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16rem;
    margin: 8rem auto;
}

main.about > div {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

div.about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-content span {
    font-size: 1.5rem;
}

main.about h2 {
    max-width: 40%;
}

main.about p {
    max-width: 50%;
    color: #737373;
    text-align: justify;
}

ul.features-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul.features-list strong {
    display: block;
}

ul.features-list li {
    color: #737373;
    width: 50%;
    text-align: justify;
    
}

.text-gradient {
    text-transform: uppercase;
    font-family: "Orbitron";
    background: linear-gradient(to right, #9333ea, #db2777, #f59e0b, #db2777, #9333ea, #db2777, #f59e0b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 8s ease-in-out infinite;
    background-size: 300% 300%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}