* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Proza Libre", sans-serif;
    color: var(--secoundary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--primary);
    overflow-x: hidden;
}

div.content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.content a {
    max-width: max-content;
}

div.content p {
    font-style: italic;
    font-size: 1.3rem;
}

h1 {
    font-size: 5rem;
    font-family: "Orbitron", sans-serif;

}

article.features {
    display: flex;
    gap: 0.7rem;

}

.features h2 {
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;

}

.features p {
    font-size: 0.9rem;
    margin-top: 0.8rem;
}



.community h2 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 2.8rem;
    margin-top: 4rem;
    color: var(--tertiary);
    text-transform: uppercase;
}

.community article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}
