@import "components/botao.css";
@import "components/carousel.css";
@import "components/square.css";
@import "layout/header.css";
@import "pages/estudo.css";
@import "pages/mais.css";
@import "pages/style.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Proza Libre", sans-serif;
    color: var(--secoundary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --primary: #09090b;
    --secoundary: #fafafa;
    --tertiary: #5271ff;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary);
    overflow-x: hidden;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16rem;
    margin: 8rem 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 5rem;
    font-family: "Orbitron", sans-serif;

}

h2 {
    font-family: "Orbitron";
    font-size: 4vw;
}

span {
    font-size: 1.5vw;
}

::-webkit-scrollbar {
    background-color: #19191d;
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secoundary);
    border-radius: 4px;
}

@media (max-width: 1023px) {

    body {
        padding: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    span {
        font-size: 1.5rem;
    }
}