@import "../components/botao.css";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
    width: 100%;
}

img {
    width: 10%;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

i {
    font-size: 2rem;
}