@import "../components/botao.css";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
    width: 100%;
}

img {
    width: 10%;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navlink {
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;

}

.navlink:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

i {
    font-size: 2rem;
}

@media (max-width: 1023px) {

    .navlink {
        text-align: center;
    }

    .botao {
        padding: 0.1rem 0.5rem;
    }

    i {
        font-size: 1rem;
    }
}