@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 0.2rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff41;
  border-radius: 4px;
}

 /* Estiliza a barra de fundo no Webkit (Chrome, Safari) */
 progress::-webkit-progress-bar {
  background-color: #09090b;
  border-radius: 0.25rem;
}

/* Estiliza a parte preenchida no Webkit (Chrome, Safari) */
progress::-webkit-progress-value {
  background-color: #f4f4f5;
  border-radius: 0.25rem;
}

/* Estiliza a barra de fundo no Firefox */
progress::-moz-progress-bar {
  background-color: #09090b;
  border-radius: 0.25rem;
}