* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Proza Libre", sans-serif;
    color: var(--secoundary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

:root {
    --primary: #09090b;
    --secoundary: #fafafa;
    --tertiary: #5271ff;
}

body {
    background-color: var(--primary);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;
}

section {
    padding: 0 2.5rem;
}

img {
    width: 10%;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.botao {
    padding: 0.5rem 1rem;
    background-color: var(--tertiary);
    border-radius: 10px;
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
}

.estudo {
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
}

div.content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

div.content p {
    font-style: italic;
    font-size: 1.3rem;
}

div.content a {
    padding: 1rem;
    background-color: var(--tertiary);
    width: max-content;
    border-radius: 10px;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
}

h1 {
    font-size: 5rem;
    font-family: "Orbitron", sans-serif;

}

article.features {
    display: flex;
    gap: 0.7rem;

}

.features .square {
    height: 14rem;
    width: 14rem;
    background-color: #09090ba9;
    margin-top: 3rem;
    padding: 0.8rem;
    border: 1px solid #374151;
}

.square > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

i {
    font-size: 2rem;
}

.features h2 {
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;

}

.features p {
    font-size: 0.9rem;
    margin-top: 0.8rem;
}

.square-2 {
    height: 20rem;
    width: 20rem;
    background-color: #09090ba9;
    margin-top: 3rem;
    padding: 0.8rem;
    border: 1px solid #374151;
    border-radius: 0rem 0rem 40% 0rem;
}